# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project files
vaultpass
.env
node_modules
/generated/prisma
.rasa
dist
*.tsbuildinfo